<div class="movie-container" [style.--bg-url]="'url(' + (backdropImage() | async) + ')'">
    @if (loading()) {
    <div class="loader-container">
        <cam-ds-loader></cam-ds-loader>
    </div>
    } @else if (errorMessage()) {
    <div class="error-container">
        <p class="error-message">{{ errorMessage() }}</p>
    </div>
    } @else if (movieId()) {
    <div class="movie-content">
        <div class="first">
            <cam-ds-movie-info [attr.title]="movie()?.title" [attr.genres]="movieGenres()"
                [attr.duration]="movieRuntime()" [attr.rating]="movie()?.vote_average"
                [attr.poster]="movie()?.poster_path|posterPath|async" [attr.poster-alt]="movie()?.title">
                <p>{{movie()?.overview}}</p>
            </cam-ds-movie-info>
        </div>
        <div class="second">
            <cam-ds-people-list title="Cast">
                @for (person of movie()?.credits?.cast|castCutter; track person.id) {
                <cam-ds-person [name]="person.name" [jobtitle]="person.character">
                </cam-ds-person>
                }
            </cam-ds-people-list>
            <cam-ds-people-list title="Crew">
                @for (person of movie()?.credits?.crew|crewSorterCutter; track person.id) {
                <cam-ds-person [name]="person.name" [jobtitle]="person.job">
                </cam-ds-person>
                }
            </cam-ds-people-list>
        </div>
        <div class="third">
            <cam-ds-youtube-player [attr.video-id]="movieTrailerId()" autoplay="false" mute="false" responsive="true"
                error="false" aria-label="Trailer"></cam-ds-youtube-player>

            <cam-ds-availability> <!-- buy, flatrate, rent->-->
                <cam-ds-billing-type type="flatrate">
                    @for (provider of movie()?.['watch/providers']?.results?.[region()]?.flatrate; track
                    provider.provider_id) {
                    <cam-ds-provider [attr.src]="provider.logo_path|providerLogoPath|async"
                        [attr.alt]="provider.provider_name"></cam-ds-provider>
                    }
                </cam-ds-billing-type>
                <cam-ds-billing-type type="rent">
                    @for (provider of movie()?.['watch/providers']?.results?.[region()]?.rent; track
                    provider.provider_id) {
                    <cam-ds-provider [attr.src]="provider.logo_path|providerLogoPath|async"
                        [attr.alt]="provider.provider_name"></cam-ds-provider>
                    }
                </cam-ds-billing-type>
                <cam-ds-billing-type type="buy">
                    @for (provider of movie()?.['watch/providers']?.results?.[region()]?.buy; track
                    provider.provider_id) {
                    <cam-ds-provider [attr.src]="provider.logo_path|providerLogoPath|async"
                        [attr.alt]="provider.provider_name"></cam-ds-provider>
                    }
                </cam-ds-billing-type>
            </cam-ds-availability>
        </div>
    </div>
    }
</div>
<div class="footer-bar">
    <button (click)="nextResult()">Prossimo</button>
    <button (click)="goHome()">Home</button>
    <button (click)="goToSimilar()">Simili</button>
</div>