:host {
  display: block;
  height: 100%;
}

.movie-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: var(--bg-url);
  background-size: cover;

  min-height: 0;
  position: relative;

}

.movie-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  /* bianco semi-trasparente sopra l'immagine */
  z-index: 0;
}

.movie-container>* {
  position: relative;
  z-index: 1;
}

.movie-content {
  display: flex;
  flex: 1 1 0%;
  min-height: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}


.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}


@media (max-width: 600px) {
  .movie-content {
    min-height: 0;
    height: auto;
    flex: 1;
    min-height: auto;
    height: auto;

    flex-direction: column;
  }

  .first,
  .second,
  .third {
    width: 100%;
    max-width: 100%;
  }

}